.outerbox {
    width: 400px;
    height: 200px;
    border: black solid;
    background-color: rgb(200, 200, 200);
}

.messagebox {
    margin: 30px 40px 30px 40px;
    border: thin black solid;
    background-color: rgb(240, 240, 240);
}

